@import url(//fonts.googleapis.com/css?family=Roboto:400,300);
body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  font: 400 16px Roboto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; }

hr {
  background-color: rgba(0, 0, 0, 0.12);
  border: 0;
  height: 1px; }

kbd {
  background-color: #c6ff00;
  border-radius: 3px;
  color: #666;
  padding: 0 .2em; }

abbr,
acronym {
  border-bottom: 1px dotted #00bcd4 !important; }

blockquote {
  border-left: 5px solid #c6ff00;
  padding-left: 1em; }

a {
  color: #00bcd4;
  text-decoration: none; }
  a:active, a:hover {
    text-decoration: underline; }
  a:visited {
    color: #00a1b5; }

.primary-background, .header {
  background-color: #00bcd4; }

.primary-foreground {
  color: #00bcd4; }

.accent-background {
  background-color: #c6ff00; }

.accent-foreground {
  color: #c6ff00; }

.text-secondary {
  color: rgba(0, 0, 0, 0.54); }

.text-inverse {
  color: rgba(255, 255, 255, 0.87); }

.button {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
  border: 0;
  padding: 0.3em 0.6em; }
  .button:focus, .button:active {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.26); }

dl,
ul,
ol {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
  background: #fff; }

dt,
dd {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

dt {
  font-size: 1.1em;
  font-weight: 300;
  padding: .4em; }

dd {
  padding: 1em; }
  dd:last-of-type {
    border: 0; }

ul {
  list-style: none;
  padding: 0; }
  ul:last-of-type {
    border: 0; }

li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 1em; }
  li:last-of-type {
    border: 0; }

form {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
  background-color: #fff; }

fieldset {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 1em; }

legend {
  font-weight: 300; }

input,
button,
textarea,
select {
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #00bcd4;
  margin: .4em; }
  input:disabled,
  button:disabled,
  textarea:disabled,
  select:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26); }
  input:focus,
  button:focus,
  textarea:focus,
  select:focus {
    border-color: #c6ff00;
    outline: 0; }

button {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
  border: 0;
  padding: 0.3em 0.6em; }
  button:focus, button:active {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.26);
    border: 0; }

textarea {
  border: 1px solid #00bcd4; }

input:read-only,
textarea:read-only {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26); }
  input:read-only:focus,
  textarea:read-only:focus {
    border-color: #c6ff00; }

table {
  width: 100%; }
  table thead {
    border-bottom: 1px solid #00bcd4;
    text-align: center; }
    table thead th {
      font-size: 1.1em;
      font-weight: 300; }
  table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    table tbody tr td {
      padding: .3em; }
    table tbody tr.even {
      background-color: rgba(0, 0, 0, 0.12); }

.shadow-float {
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.26); }

.shadow-high {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.26); }

.shadow-middle {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.shadow-low {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26); }

body {
  margin-top: 130px; }

.header {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.26);
  left: 0;
  overflow: hidden;
  padding-left: 10%;
  position: fixed;
  right: 0;
  top: 0; }

.wrapper {
  margin: 0 auto;
  max-width: 960px; }
  .wrapper:after, .wrapper:before {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0; }

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
  float: left;
  margin-right: 1em;
  max-width: 28%;
  padding: .8em; }

.left {
  float: left; }

.login {
  margin: 0 auto;
  max-width: 300px;
  overflow: hidden;
  text-align: center; }
  .login button {
    display: block;
    margin-left: 60%;
    margin-bottom: 1em; }
